/*Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}
p{
    font-size: 1rem;
    font-weight: 400;
    margin: 10px 0;
    color: #1d1d1d;
}
body{
    width: 100%;
    height: auto;
    background-color: #F5F5F5;
    overflow-x: hidden;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #e2e2e2;
}
::-webkit-scrollbar-thumb {
    background: #929aab7e;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #919cca;
}

/* Navbar CSS */
ืnav{
    width: 100%;
    height: 10vh; 
}
.nav-container {
    background-color: #f5f5f56b;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(10px); 
    transition: backdrop-filter 0.3s ease;
    position: fixed; /* ทำให้ navbar ติดอยู่บนสุดของหน้า */
    top: 0; /* ตำแหน่งที่ต้องการให้ fixed (บนสุดของหน้าจอ) */
    left: 0;
    z-index: 1000; /* เพิ่ม z-index เพื่อให้ navbar อยู่ด้านหน้าเนื้อหาอื่น */
}
.hamburg,
.cancel{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: #c7c3c3ef;
    opacity: 0;
    pointer-events: none;
    margin-top: 3px;
}
.nav-container .links{
    display: flex;
}
.nav-container .links a{
    position: relative;
    font-size: 1.2rem;
    color: #929AAB;
    margin: 0.20px;
    padding: 10px 15px;
    right: 0;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}
.nav-container .links a::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #919cca;
    transition: 0.2s linear;
}
.nav-container .links a:hover::before{
    width: 100%;
}
.nav-container .links a:hover{
    color: #646b86;
    
}
.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(40%);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}
.dropdown .links a{
    display: flex;
    color: #929AAB;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}
.dropdown .links a:hover{
    color: #919cca;
}

/*section*/
section{
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

section .content{
    width: 70%;
  }

/*home*/
section .main-container{
    width: 90%;
    display: flex;
    justify-content: space-around;
    padding-left: 35px;
    align-items: center;
    margin: 40px;
    margin-top: 150px;
    margin-bottom: 100px;
}
.main-container .image{
    width: 513px;
    height: 500px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 10px #deddd9;
    background-color: #deddd9;
}
main-container .image img{
    width: 100%;
}
.main-container .image:hover{
    animation: animate 1.5s ease-in-out infinite;
}
@keyframes animate{
    0%{scale: 1;}
    50%{scale: 1.05;}
    100%{scale: 1;}
}
.main-container .content{
    color: #1d1d1d;
    width: 48%;
    margin: 0 50px;
}
.content h1{
    font-size: 2.5rem;
    font-weight: 600;
}
.content h1 span{
    color: #919cca;
    text-shadow: 0 0 3px #919cca;
}
.content .typewriter{
    font-size: 3rem;
    font-weight: 500;
}
.content .typewriter-text{
    color: #919cca;
    text-shadow: 0 0 3px #919cca;
    display: inline;
}
.content .typewriter label {
    font-weight: normal;
    animation: blink 1s infinite;
 }
 @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
 }
.social-links i{
    display: inline-flex;
    justify-content: center;
    margin: 5px 10px;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: #121212 0.2rem solid;
    border-radius: 50%;
    color: #121212;
    font-size: 1.5rem;
    transition: 0.2s linear;
}
.social-links i:hover{
    scale: 1.3;
    background-color: #919cca;
    color: #F5F5F5;
    filter:drop-shadow(0 0 3px #919cca);
}

/* section */
section .content{
    width: 80%;
    margin: 0px auto;
    font-family: "Poppins", sans-serif;
}

/* about */
#about {
    background-color: #ebebe6;
}

section .about{
    margin: 40px;
}

.about .about-details{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 70px;
}
section .title{
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
}
section .title span{
    color: #30475E;
    font-size: 32px;
    font-weight: 600;
    position: relative;
    padding-bottom: 10px;
}
section .title span::before,
section .title span::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #919cca;
    bottom: 0;
    left: 0%;
}
section .title span::after{
    bottom: -7px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}
.about-details .right{
    width: 50%;
    padding-left: 80px;
    align-items: center;
}
.about .right img{
    width: 350px;
    height: 530px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 10px #deddd9;
    background-color: #deddd9;
}
.about-details .left{
    width: 70%;
}
.about-details .left .details{
    margin-left: 90px;
}
section .topic{
    color: #1d1d1d;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.about button{
    padding: 10px 25px;
    background-color: #c7c4c4;
    color: #1d1d1d;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
    transition: 0.3s linear;
}
.about button:hover{
    scale: 1.1;
    color: #919cca;
    background-color: transparent;
    font-weight: 500;
    box-shadow: 0 0 8px #919cca;
}

section .button{
    margin: 16px 0;
}

/*skills*/
#skills{
    margin-bottom: 40px;
}


section .skills .boxes {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.skills .boxes{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.skills .box{
    width: 300px;
    margin: 10px;
    padding: 30px;
    background-color: #ebebe6;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.skills .skill{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}
.skills .icon{
    display: flex;
    justify-content: center;
    margin: 2px;
    align-items: center;
    width: 3rem;
    height: 3rem;
    color: #919cca;
    font-size: 3rem;
}
#skills .topic{
    color: #30475E;
    font-size: 18px;
    font-weight: 500;
    margin: 1px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#skills li{
    color: #30475E;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    list-style-position: inside;
}

/*works*/
section.works {
    padding: 20px;
    background-color: #ebebe6;

  }
  .content{
    width: 80%;
  }
  
  .tabs {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
    margin-left: 15px;
  }

  .boxes{
    display: flex;
    width: 100%;
    justify-content: flex-start;
  }
  .tab-button {
    padding: 10px 20px;
    background-color: #c7c4c4;
    color: #1d1d1d;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .tab-button:hover{
    background-color: #919cca;
    scale: 1.1;
  }
  
  .tab-button.active {
    background-color: #919cca;
    scale: 0.98;
  }
  
  .tab-content {
    display: none;
    padding: 10px;
  }
  
  .tab-content.active {
    display: block;
  }
  
  .card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 400px;
    height: auto;
    margin: 20px;
    padding: 0px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  .card:hover {
    scale: 1.1;
    transition: transform 0.3s ease-in-out;
  }
  .image{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
    
    .works img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }

  .detail{
    display: flex;
    padding: 20px;
    color: #30475E;
    flex-direction: column;
    justify-content: space-between;
  }
  .detail h3 {
    margin-top: 0;
    font-size: 18px;
    word-wrap: break-word;
    white-space: normal;
    text-overflow: ellipsis;
    
  }
  
  .detail p {
    grid-row: 3 / 4;
    margin: 10px 0;
    flex-grow: 1;
    word-wrap: break-word;
    white-space: normal;
    text-overflow: ellipsis;
  }
  .detail-btn {
    grid-row: 4 / 5;
    background-color: #e0e0de;
    color: #30475E;
    font-weight: 500;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: auto;
    align-self: end;
  }

  .detail-btn:hover{
    background-color: #919cca;
    scale: 1.1;
  }
  .detail-btn:active{
    scale: 1;
  }
  .works .pro {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    
  }

  
  /* Popup Styles */
  /* .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  } */
 
/*contact*/
section .contact {
    display: flex;
    justify-content: center; /* จัดให้อยู่ตรงกลางแนวนอน */
    align-items: center; /* จัดให้อยู่ตรงกลางแนวตั้ง */
    flex-direction: column; /* จัดเรียงองค์ประกอบในแนวตั้ง */
    padding: 20px;
  }
  .contact .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    padding: 10px;
  }
  .contact .boxes {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-left: 50px;

  }
  .contact .icon {
    display: flex;
    align-items: center;
    
  }
  .contact .social-links {
    margin-top: 50px;
    margin-right: 40px;
  }
  .contact p{
    font-size: 1.3rem;
  }
  #contact {
    display: flex; /* Ensure it's displayed */
  }
  .tab-content {
    display: none; /* ซ่อนเนื้อหาทั้งหมดของแท็บ */
  }
  
  .tab-content.active {
    display: block; /* แสดงเฉพาะเนื้อหาของแท็บที่ active */
  }

/*footer section */
footer{
    background-color: #929AAB;
    color: #F5F5F5;
    padding: 15px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
footer .text span{
    color: #30475E;
    font-weight: 400;
    font-size: 14px;
}

footer .text span a{
    color: #F5F5F5;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s linear;
}
footer .text span a:hover{
    color: #30475E;
    font-weight: 600;
    text-decoration: underline;
}

.scroll-button a{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #929AAB;
    background: #c7c4c4;
    padding: 7px 12px;
    font-size: 18px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15);
    display: none;
}


@media (max-width: 1000px) {
    .about .about-details{
        justify-content: center;
        flex-direction: column;
    }
    .about .about-details .left{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .about-details .right{
        width:90%;
        margin: 40px 0;
    }
}

@media (max-width: 968px) {
    section .main-container {
        padding-left: 0px;
        display: flex;
        flex-direction: column;
    }

    .main-container .contact{
        margin:  2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }
}

/* กำหนด CSS ทั่วไปที่เหมาะกับโทรศัพท์มือถือ */
@media (max-width: 768px) {
    /* Navbar */
    .nav-container {
        height: 40px;
    }
    .hamburg {
        opacity: 1;
        pointer-events: visible;
        font-size: 1.3rem;
    }
    .nav-container .links {
        display: none; /* ซ่อนลิงก์เมนูเริ่มต้น */
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%; /* ปรับระยะห่างจากด้านบนตามต้องการ */
        left: 0;
        z-index: 100;
        justify-content: center;
        background-color: #f5f5f56b;
    }
    .nav-container.active .links {
        display: flex; /* แสดงเมนูเมื่อมีการเปิดใช้งาน */
    }
    .nav-container .links a {
        padding: 5px;
        text-align: center;
        font-size: 1rem;
        color: #494949;
        text-decoration: none;
        display: flex; /* ใช้ flexbox */
        align-items: center; /* แนวตั้ง */
        justify-content: center;
        backdrop-filter: blur(10px); 
    }
    .nav-container .links a::before{
        display: none;
    }
    .nav-container .links a:hover {
        scale: 1.2;
        color: #646b86;
    }
    .nav-container .links a:active {
        scale: 1.0;
    }

    /* Main container */
    .main-container {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px !important;
        margin-bottom: 40px !important;
        justify-content: space-around; 
    }
    .main-container .image {
        max-width: 100%; /* Ensure image does not overflow container */
        height: auto;
    }
    .main-container .content {
        width: 100%;
        height: 470px;
        text-align: left;
        font-size: 14px; /* Adjust font size for readability */
        line-height: 1.5;
        justify-content: center;
        align-items: center;
        overflow: auto;
    }
    .main-container h1 {
        font-size: 1.5rem; /* Adjust font size for readability */
        margin-top: 20px;
    }
    .main-container .typewriter {
        font-size: 1.5rem; /* Adjust font size for readability */
        margin-bottom: 20px;
        line-height: 1.5;
    }
    .main-container p {
        margin-bottom: 20px; /* ป้องกันการขยับจาก margin */
        line-height: normal; 
    }
    .main-container .image img{
        width: 100%;
    }

    /* About Section */
    .about {
        margin: 20px;
        margin-left: 0 !important;
    }

    .about .about-details {
        flex-direction: column; /* เปลี่ยน flex-direction เป็น column บนมือถือ */
        margin: 0 !important; /* ลด margin สำหรับมือถือ */
    }

    .about-details .right {
        width: 100%; /* ให้รูปภาพเต็มความกว้างของพื้นที่ */
        padding-left: 0; /* เอา padding-left ออก */
        margin-bottom: 30px; /* เพิ่มช่องว่างด้านล่างของรูปภาพ */
    }

    .about .right img {
        width: 100%; /* ปรับขนาดรูปภาพให้เต็มความกว้าง */
        height: auto; /* ปรับความสูงของรูปภาพตามอัตราส่วน */
        border-radius: 10px; /* ลดขนาด border-radius สำหรับมือถือ */
        margin-top: 0 !important;
    }

    .about-details .left {
        width: 100%; /* ให้เนื้อหาใน left เต็มความกว้างของพื้นที่ */
        margin-right: 0 !important;
        margin-left: 0 !important; /* เอา margin-left ออก */
        text-align: left;
        margin: 0 !important;
    }

    .about .details {
        margin-left: 0 !important; /* เอา margin-left ออก */
    }
    

    /* Skills Section */
    .skills .boxes {
        flex-direction: column;
        align-items: center;
    }

    .skills .box {
        width: 90%;
        margin: 10px 0;
        padding: 20px;
    }

    /* Works Section */
    .works {
        margin: 0 !important;
    }
    .works .tabs {
        flex-direction: row;
        justify-content: center;
    }
    .works .boxes {
        flex-direction: column;
        align-items: center;
    }

    .works .boxes .card {
        width: 100%;
    }

    /* Contact Section */
    section .contact {
        padding: 10px; /* ลด padding สำหรับมือถือ */
        flex-direction: column; /* จัดเรียงองค์ประกอบในแนวตั้ง */
        align-items: center; /* จัดให้ตรงกลางแนวตั้ง */
    }
    .contact .content {
        width: 100%; /* ให้เนื้อหาเต็มความกว้างของพื้นที่ */
        padding: 6px; /* เพิ่ม padding ภายในกล่องเนื้อหา */
        text-align: center; /* จัดข้อความให้อยู่กลาง */
    }

    .contact .boxes {
        display: flex;
        flex-direction: column; /* จัดเรียงกล่องในแนวตั้ง */
        align-items: center; /* จัดกล่องให้ตรงกลาง */
        margin-left: 0; /* เอา margin-left ออก */
    }

    .contact .icon {
        display: flex;
        margin-bottom: 20px; /* เพิ่มช่องว่างระหว่างกล่อง */
        width: 100%; /* ให้กล่องข้อความเต็มความกว้าง */
        align-items: center;
    }

    .contact .icon p {
        margin-left: 5px; /* เพิ่มช่องว่างระหว่างไอคอนกับข้อความ */
        font-size: 14px; /* ลดขนาดฟอนต์สำหรับมือถือ */
    }

    .contact .social-links {
        margin-top: 30px; /* ลด margin-top สำหรับมือถือ */
        margin-right: 0; /* เอา margin-right ออก */
        display: flex;
        flex-wrap: wrap; /* จัดให้ไอคอนสังคมอยู่ในบรรทัดเดียวหรือหลายบรรทัดตามความกว้าง */
        justify-content: center; /* จัดให้อยู่ตรงกลางแนวนอน */
    }

    .contact .social-links a {
        margin: 5px; /* เพิ่มช่องว่างระหว่างไอคอน */
        font-size: 1rem; /* ปรับขนาดฟอนต์สำหรับไอคอน */
    }
}
